In [1]:
import pandas as pd
import os

path_1=os.getcwd()+"\\data\\fire_archive_M-C61_626683.csv.xz"
path_2=os.getcwd()+"\\data\\fire_archive_SV-C2_628846.csv.xz"
data_1=pd.read_csv(path_1)
data_2=pd.read_csv(path_2)

In [44]:
data_1

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,38.5422,-78.3047,304.8,2.8,1.6,2000-11-01,250,Terra,MODIS,23,6.03,280.9,40.3,N,0
1,38.5451,-78.3107,309.9,2.8,1.6,2000-11-01,250,Terra,MODIS,79,6.03,280.7,58.8,N,0
2,38.5563,-78.3084,309.4,2.8,1.6,2000-11-01,250,Terra,MODIS,70,6.03,280.4,54.5,N,0
3,38.5586,-78.3170,302.3,2.8,1.6,2000-11-01,250,Terra,MODIS,45,6.03,279.8,36.0,N,0
4,31.3393,-89.9124,304.9,1.0,1.0,2000-11-01,427,Terra,MODIS,62,6.03,287.5,8.5,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960417,41.6966,-99.1437,319.8,1.1,1.0,2025-01-31,2028,Aqua,MODIS,80,61.03,284.7,21.2,D,0
2960418,42.4419,-94.3783,300.6,1.2,1.1,2025-01-31,2028,Aqua,MODIS,40,61.03,284.3,6.3,D,0
2960419,41.4014,-97.9485,319.9,1.0,1.0,2025-01-31,2028,Aqua,MODIS,80,61.03,284.9,19.0,D,0
2960420,41.4032,-97.9369,322.9,1.0,1.0,2025-01-31,2028,Aqua,MODIS,82,61.03,285.0,22.1,D,0
2960421,42.7180,-120.4872,303.0,1.1,1.0,2025-01-31,2207,Aqua,MODIS,51,61.03,281.1,7.8,D,0

In [45]:
data_2

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,40.39349,-79.85354,334.53,0.46,0.63,2012-01-20,619,N,VIIRS,n,2,265.82,5.03,N,2
1,39.21772,-76.47841,328.31,0.59,0.53,2012-01-20,619,N,VIIRS,n,2,272.87,5.18,N,0
2,39.21458,-76.47921,328.70,0.59,0.53,2012-01-20,619,N,VIIRS,n,2,271.66,4.49,N,0
3,37.35373,-77.32399,297.97,0.63,0.54,2012-01-20,620,N,VIIRS,n,2,267.81,1.29,N,0
4,37.34868,-77.32457,295.35,0.63,0.54,2012-01-20,620,N,VIIRS,n,2,268.36,1.29,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6727863,19.40839,-155.27690,354.68,0.48,0.48,2025-02-28,2307,N,VIIRS,l,2,333.25,36.48,D,1
6727864,19.40667,-155.28592,356.34,0.48,0.48,2025-02-28,2307,N,VIIRS,l,2,344.26,19.48,D,1
6727865,19.41194,-155.28224,367.00,0.48,0.48,2025-02-28,2307,N,VIIRS,h,2,331.24,36.48,D,1
6727866,19.41110,-155.28667,346.81,0.48,0.48,2025-02-28,2307,N,VIIRS,n,2,321.70,19.48,D,1
6727867,19.40313,-155.28050,367.00,0.48,0.48,2025-02-28,2307,N,VIIRS,h,2,341.38,26.84,D,1

In [46]:
data_1['acq_time'] = pd.to_datetime(data_1['acq_date'] + ' ' + data_1['acq_time'].astype(str).str.zfill(4), format='%Y-%m-%d %H%M')
data_2['acq_time'] = pd.to_datetime(data_2['acq_date'] + ' ' + data_2['acq_time'].astype(str).str.zfill(4), format='%Y-%m-%d %H%M')
data_1.drop('acq_date', axis=1, inplace=True)
data_2.drop('acq_date', axis=1, inplace=True)

In [47]:
data_1=data_1[data_1['acq_time'] >= data_2['acq_time'].min()].copy()

In [48]:
data_1['confidence_binned']=pd.cut(data_1['confidence'],bins=[-1,30,80,101],labels=['Low','Nominal','High'])

In [49]:
data_1

,latitude,longitude,brightness,scan,track,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
1304749,33.0003,-110.7636,314.8,1.0,1.0,2012-01-20 09:14:00,Aqua,MODIS,h,6.03,276.1,19.1,N,2
1304750,26.6446,-80.8144,317.0,4.5,1.9,2012-01-20 15:24:00,Terra,MODIS,n,6.03,296.1,96.6,D,0
1304751,26.6271,-80.8157,359.2,4.5,1.9,2012-01-20 15:24:00,Terra,MODIS,h,6.03,297.0,699.3,D,0
1304752,26.6435,-80.8200,328.0,4.5,1.9,2012-01-20 15:24:00,Terra,MODIS,h,6.03,296.6,196.9,D,0
1304753,26.6260,-80.8213,353.5,4.5,1.9,2012-01-20 15:24:00,Terra,MODIS,h,6.03,297.0,580.7,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960417,41.6966,-99.1437,319.8,1.1,1.0,2025-01-31 20:28:00,Aqua,MODIS,h,61.03,284.7,21.2,D,0
2960418,42.4419,-94.3783,300.6,1.2,1.1,2025-01-31 20:28:00,Aqua,MODIS,n,61.03,284.3,6.3,D,0
2960419,41.4014,-97.9485,319.9,1.0,1.0,2025-01-31 20:28:00,Aqua,MODIS,h,61.03,284.9,19.0,D,0
2960420,41.4032,-97.9369,322.9,1.0,1.0,2025-01-31 20:28:00,Aqua,MODIS,h,61.03,285.0,22.1,D,0
2960421,42.7180,-120.4872,303.0,1.1,1.0,2025-01-31 22:07:00,Aqua,MODIS,n,61.03,281.1,7.8,D,0

NameError: name 'data' is not defined